.container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.listContainer {
    width: 280px;
    height: 400px;
    overflow-y: scroll;
}

.episodeListAndChordSpinner {
    display: flex;
    flex-direction: row;
}

.progress {
    width: 560px;
}