.jsonchordsText {
    width: 800px;
    border: solid 1px #000000;
    height: fit-content;
    color: #ffffff;
    background-color: #000000;
    font-family: 'Consolas';
    font-weight: 200;
}

.jsonchordsTextInvalidJson {
    width: 800px;
    border: solid 1px #000000;
    height: fit-content;
    color: #ffffff;
    background-color: #380209;
    font-family: 'Consolas';
    font-weight: 200;
}

.sectionMessage {
    width: 700px;
}